@model Clase_3.Models.ClienteModel
<h2>Detalle del Cliente</h2>
<p><strong>Cédula:</strong> @Model.Cedula_RUC</p>
<p><strong>Nombre:</strong> @Model.Nombre</p>
<p><strong>Apellido:</strong> @Model.Apellido</p>
<p><strong>Edad:</strong> @Model.Edad</p>
<a href="/Clientes/Index" class="btn btn-secondary">Volver</a>
