﻿@{
    @model List<ClienteModel>
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola Mundo</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a href="/Home/Privacy?nombre=Juan+Diego&apellido=Llerena&edad=36">Politicas de Privacidad</a>
</div>

<div class="row">
    <h2>Lista de Clientes</h2>
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>cedula</th>
                <th>Nombres</th>
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@cliente.Cedula_RUC</td>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Apellido</td>
                    <td>@cliente.Edad</td>
                </tr>
            }
        </tbody>
    </table>
</div>
